# ===== Backend =====
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/.idea/
backend/*.iws
backend/*.iml
backend/*.ipr
backend/.classpath
backend/.project
backend/.settings/
backend/.springBeans
backend/.sts4-cache/

# ===== Frontend =====
frontend/node_modules/
frontend/build/

# ===== Secrets =====
backend/.env
backend/.mysqlenv
**/.env

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/
